*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-accent: #008080;
    --color-red: #cf0c0c;
}

/* ==================== MAIN LAYOUT ==================== */

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: white;
    color: black;
}

header{
    display: flex;
    flex-flow: row wrap;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    position: sticky;
    top: 0;
    z-index: 2;

    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.08);
}

header .logo{
    flex: 1;
    min-width: min(100%, 250px);
}

.tool-bar{
    min-width: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: stretch;
    flex: 2;
    gap: 16px;
}


/* Tool */

.tool{
    background-color: var(--color-accent);
    color: white;
    border: 0;
    border-radius: 8px;
    
    padding: 8px;

    vertical-align: center;

    transition: all 0.1s;
}

.tool:hover{
    outline: 2px solid var(--color-accent);
    background-color: white;
    color: var(--color-accent);
}

.tool > svg{
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
}

footer{
    margin-top: auto;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

header, main, footer{
    padding: 16px;
}

/* ==================== CONTENT ==================== */


/* Card */

.card{
    display: flex;
    flex-direction: column;
    gap: 8px;

    border-radius: 16px;
    
    border: 1px solid black;

    padding: 16px;
}

.card > .thumbnail{
    align-self: center;
    height: 300px;
    padding-bottom: 16px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card > .author{
    color: grey;
}

.tag-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    gap: 8px;
}

.tag{
    font-size: 0.75rem;

    border: 0;
    border-radius: 8px;
    padding: 8px;
    background-color: grey;
    color: lightgrey;
    text-align: center;

    max-width: 15ch;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card button:hover{
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
    
}

.card button, .card a{
    padding: 8px;
    border: 1px solid grey;
    border-radius: 8px;

    text-decoration: none;
    text-align: center;
}

.card .status{
    font-size: 1.1rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 4;

    color: inherit;
}

.card[data-have-read="true"] .status{
    background-color: var(--color-accent);
}
.card[data-have-read="true"] .status::after{
    color: white;
    content: "Read";
}

.card[data-have-read="false"] .status::after{
    content: "Unread";
}

.card .delete{
    color: grey;
}

.card .delete svg{
    width: 100%;
    height: 100%;

    pointer-events: none;
}

.card .delete:hover{
    color: var(--color-red);
}

.card .tool-bar{
    margin-top: auto;
    min-height: 50px;
    max-height: 50px;
}

/* Form entry modal */

#entry-modal{
    position: relative;

    min-width: min(100%, 500px);
    min-height: min(100%, 500px);
    overflow-x: hidden;
    overflow-y: auto;

    margin: auto;

    padding: 16px;

    border-radius: 16px;
}

#entry-modal form{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 16px;

    place-content: center;
    align-items: baseline;
    
}
#entry-modal form > legend{
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.2rem;
}

#entry-modal form > button{
    grid-column: 1 / -1;
    padding: 16px;
    border-radius:8px;

    border: 1px solid grey;
    font-size: 1.1rem;
    font-weight: 700;
}

form button[type="submit"]{
    background-color: var(--color-accent);
    color: white;
    border: 0;    
}

form button[type="submit"]:hover{
    background-color: white;
    color: var(--color-accent);
    outline: 2px solid var(--color-accent);    
}

#close-entry{
    color: black;
    border: 0;
}

#close-entry:hover{
    background-color: white;
    outline: 2px solid black;
}


input[type="text"],
input[type="url"],
textarea{
    padding: 16px;
    border-radius: 8px;
    border: 1px solid lightgray;
}

input[type="text"]:invalid,
input[type="url"]:invalid{
    border: 1px solid var(--color-red);
}


textarea{
    height: 400px;
    resize: none;
}

